#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --darkest-color:#4C2E05;
  --darkest-lighter-color:#86520a;
  --mid-dark-color:#7A8450;
  --mid-color:#AEBD93;
  --mid-light:#95969D;
  --light-color:#dce7b8;
  --accent-color:#BEE7B8;

}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.contactList {
  border-collapse: separate;
  background-color: black;
  /* margin-inline: 0; */
  /* background: linear-gradient(in oklab, var(--mid-light) 0%, #000 100%); */
  thead{
    background-color: var(--darkest-color);
    font-weight: bolder;
    margin-bottom: 2%;
    background: linear-gradient(in oklab, var( --darkest-lighter-color) 0%, var(--darkest-color) 100%);
    border: 0.1em solid var(--mid-dark-color);

  }
  tbody {
    background-color:  var(--mid-color);
    height: 100%;
    
    tr{
      height: 100%;
      background: linear-gradient(in oklab, var(--mid-color) 0%, var(--mid-dark-color) 100%);
      border: 0.1em solid var(--mid-dark-color);
    }
    .fields{
      background: linear-gradient(to bottom in oklab, var(--darkest-color) 0%, var(--darkest-lighter-color) 100%);
    }
    .values:hover{
      background-color: var(--light-color);
      background: linear-gradient(to top in oklab, var(--accent-color) 0%, var(--light-color) 100%);
      color: #000;
    }
  }
}
.selectedContact {
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0%;
  max-height: 100%;
  border-spacing: 2px 2px;
  th{
    background-color: #7A8450;
  }
  td{
    background-color: #AEBD93;
    
  }
  
}
.subTable{

  justify-self: stretch;
  max-height: inherit;
  /* margin: 0px;
  height: 100%; */
  
  /* td{
    height: 100%;
    background-color: #dce7b8;
  } */

}
tr{
  height: 100%;
}
